body, #root {
    background-color: #282a36;
}

.grid-container {
    background-color: #44475a;
}

.bookmark-container {
    padding: 1rem .7rem;

    .header-container {
        .label-input {
            font-size: 16px;
            background-color: rgba(0,0,0,0);
            border: none;
            outline: none;
            color: #b7b7ce;
        }


    }

}

